Storing string and variables

In [1]:
name = "Jon"

In [2]:
age = 30

In [3]:
print name

Jon

In [4]:
print age

30

In [5]:
print name + age

TypeError: cannot concatenate 'str' and 'int' objects

In [6]:
print name + str(age)

Jon30

In [7]:
letter1 = "H"
letter2 = "E"
letter3 = "L"
letter4 = "L"
letter5 = "O"

In [8]:
print letter2

E

In [12]:
print letter1 + letter2 + letter3 + letter4 + letter5 + str(letter6)

HELLO1

In [10]:
letter6 = 1

In [13]:
start = letter1 + letter2 + letter3 + letter4 + letter5

In [14]:
print start + "IS" + name

HELLOISJon

In [15]:
gas = 3.90
truck = 14

In [16]:
print truck

14

In [17]:
print gas

3.9

In [18]:
3/5

0

In [19]:
3.0/5.0

0.6

In [20]:
colors = ["red", "blue", "green", "yellow","brown","orange", "burgundy", "purple"]

In [2]:
print colors [-1]

NameError: name 'colors' is not defined

In [3]:
len(colors)

NameError: name 'colors' is not defined

In [23]:
print colors[8]

IndexError: list index out of range

In [24]:
print colors[8]

IndexError: list index out of range

In [25]:
print colors[7]

purple

In [26]:
cars = {
    "ford": "f150", 
    "volkswagen":"gold", 
    "audi":["g2", "a4"],
    "smart": "smartfor4", 
    "bmw": "328i", 
    "toyota": "corolla"
}

In [28]:
print cars ["audi"]

g2

In [32]:
# let's loop through the colors
for love in colors: 
    print love

red
blue
green
yellow
brown
orange
burgundy
purple

In [35]:
# start after first item
for color in colors[1:]:
    print color

blue
green
yellow
brown
orange
burgundy
purple

In [36]:
building = "annenberg"

In [37]:
building[0]

'a'

In [38]:
for letter in building

SyntaxError: invalid syntax (<ipython-input-38-2d22f8b6b711>, line 1)

In [39]:
for letter in building
    print letter

SyntaxError: invalid syntax (<ipython-input-39-8b98835e2da2>, line 1)

In [40]:
for letter in building:
    print letter

a
n
n
e
n
b
e
r
g

In [41]:
for love in building:
    print love

a
n
n
e
n
b
e
r
g

In [42]:
for car in cars:
    print car + " " + str(cars[car])

toyota corolla
volkswagen gold
bmw 328i
ford f150
smart smartfor4
audi g2

In [49]:
# loop through colors and print everything that's not blanchedalmond
for color in colors:
    if color is not 'red': 
        print color

blue
green
yellow
brown
orange
burgundy
purple

In [50]:
# addition
5 + 3

8

In [51]:
# subtraction
4 - 2

2

In [52]:
# division 
8/2

4

In [54]:
# multiplication
3*3

9

In [56]:
# modulo
5 % 2

1

In [57]:
8 > 2

True

In [58]:
8 > 10

False

In [59]:
truck >= 14

True

In [60]:
print truck

14

In [61]:
# is gas greater than 3? 
gas > 3

True

In [62]:
arkgas = gas

In [63]:
calgas = 4.00

In [64]:
calgas < arkgas

False

In [65]:
firstname = "jon"

In [66]:
print firstname

jon

In [69]:
sentence = "Jon said, \"Hello.\""
print sentence

Jon said, "Hello."

In [71]:
sentence2 = "Danielle said, 'Can we do single quotes?'"
print sentence2

Danielle said, 'Can we do single quotes?'

In [73]:
sentence3 = "Jon said, \"Danielle said, 'Can we do single quotes?'\""
print sentence3

Jon said, "Danielle said, 'Can we do single quotes?'"

In [76]:
sentence4 = """
This is a line.
And another line.
And even one more line.
"""
print sentence4

This is a line.
And another line.
And even one more line.

In [77]:
# create a text file
f = open("week2test.txt","w")

In [79]:
#write a sentence to that file
f.write(sentence4)

In [80]:
#close the file
f.close()

In [85]:
f = open("week2test.txt", "r")

In [87]:
f.read()

''

In [88]:
f.close()

In [89]:
f = open("week2test.txt", "a")

In [90]:
f.write("I just added this line!")

In [91]:
f.close()

In [93]:
fruits = """
red
\t*strawberry
\t*cherry
\t*apple
\t*raspberry
"""

print fruits

red
	*strawberry
	*cherry
	*apple
	*raspberry

In [94]:
f = open("week2test.txt", "a")

In [95]:
f.write(fruits)

In [96]:
f.close()

In [97]:
import csv

In [109]:
# open up usc property file
f = open("usc.html", "w")

#write header row
f.write("<p><strong>ain</strong></p>\n")

# open the assessor file
with open("assessor.csv", "r") as csvfile:
    #run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for tab in assessor:
        #check if this assessor id number is in row
        if "UNIVERSITY OF SOUTHERN CA" in tab or "UNIVERSITY OF SOUTHERN CALIF" in tab :
            print tab[0]
            f.write("<p>" + tab[0] + '</p>\n')
            
#close the file          
f.close()

5525-030-023
5525-032-017
5549-018-016
5549-018-016
5813-005-074
5813-008-029
5813-025-011
3218-014-001
3218-014-002
3218-014-003
3218-014-004
3218-014-005
3218-014-006
5037-029-018
5039-001-040
5039-001-060
5039-012-022
5039-012-032
5039-019-042
5039-019-043
5039-019-044
5039-020-035
5039-020-036
5039-020-037
5055-026-031
5055-027-022
5055-028-034
5055-029-019
5055-029-020
5055-029-021
5122-021-011
5122-022-002
5122-025-004
5122-025-005
5122-025-011
5122-025-025
5123-001-401
5123-001-404
5123-001-407
5123-001-408
5123-002-001
5123-002-021
5123-002-022
5123-002-401
5123-002-402
5123-002-406
5123-002-407
5123-002-408
5123-002-409
5123-003-415
5123-004-419
5123-004-424
5123-004-429
5123-004-433
5123-010-002
5123-010-003
5123-010-015
5123-011-004
5123-011-009
5123-012-025
5123-013-401
5123-013-402
5123-013-405
5123-013-407
5123-015-005
5123-016-403
5123-022-034
5123-022-040
5124-010-021
5139-029-027
5139-029-060
5201-001-001
5201-003-011
5201-005-002
5202-002-001
5202-002-007
5202-002-008
5202-002-020
5202-003-011
5202-003-012
5202-003-013
5202-003-014
5202-003-015
5202-003-017
5202-003-023
5202-004-036
5202-004-042
5215-001-016
5328-014-018
5328-022-005
2331-032-199

In [2]:
# define a new function 
def ladycat(time):
    if time is "night":
        print "MEEOOWW"
    elif time is "day":
        print "prrrr"
    else: 
        print "ZZZZ"

In [3]:
ladycat('night')

MEEOOWW

In [4]:
ladycat('')

ZZZZ

In [5]:
ladycat('day')

prrrr